.header {
    text-align: center;
    border-bottom: 1px solid #000000;
    color: #0b132b;
    font-size: 15px;
  }

  .footer {
    padding: 30px 30px 30px;
    flex-direction: column;
    box-sizing: border-box;
    border-top: 1px solid #000000;
    font-family: 'Kanit', sans-serif;
    background-color: #2ec4b6;
    width: 99%;
    position: fixed; bottom: 0;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    
    
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    
  }

  a {
    text-decoration: none;
    color: #0b132b;
    font-family: Rowdies;
   
  }

  h1 {
    font-family: Abril Fatface;
    margin-left: 35px;
    margin-top: 0;
    
  }

   li a:hover{
    color:#2ec4b6;
    border-radius: 55px;
    border: none;
    background-color:#0b132b;
    padding: 9px 25px;
    }


  
